[submodule "vendor/plugins/tog_user"]
	path = vendor/plugins/tog_user
	url = git://github.com/tog/tog_user.git
[submodule "vendor/plugins/tog_social"]
	path = vendor/plugins/tog_social
	url = git://github.com/tog/tog_social.git
[submodule "vendor/plugins/tog_mail"]
	path = vendor/plugins/tog_mail
	url = git://github.com/tog/tog_mail.git
[submodule "vendor/plugins/tog_conversatio"]
	path = vendor/plugins/tog_conversatio
	url = git://github.com/tog/tog_conversatio.git
[submodule "vendor/plugins/tog-wiki"]
	path = vendor/plugins/tog-wiki
	url = git://github.com/molpe/tog-wiki
[submodule "vendor/plugins/tog_forum"]
	path = vendor/plugins/tog_forum
	url = git://github.com/molpe/tog_forum.git
[submodule "vendor/plugins/white_list_model"]
        path = vendor/plugins/white_list_model
        url = git://github.com/imanel/white_list_model.git
[submodule "vendor/plugins/acts_as_scribe"]
	path = vendor/plugins/acts_as_scribe
	url = git://github.com/linkingpaths/acts_as_scribe.git
[submodule "vendor/plugins/tog_core"]
	path = vendor/plugins/tog_core
	url = git://github.com/tog/tog_core.git
